/* body {
  width: 480px;
  height: 767px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

div {
  width: 90%;
  height: 90%;
  margin: auto 20px;
}

p {
  margin-bottom: 20px;
  text-align: center;
}

@media( min-width: 481px){

  body {
    max-width: 960px;
    max-height: 767px;
  }
  
  img {
    width: 80%;
    height: 80%;
    margin: 20px auto;
    border: 1px solid black;
    box-shadow: 5px 5px grey;
  }

  p {
    margin-bottom: 20px;
    font-size: large;
  }
  ul {
    float: left;
  }
}
 */

body {
  width: 100%;
}

div {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*align-items: center;*/
  /*align-content: center;*/
  justify-content: center;
  flex-direction: row;
  width: 31%;
  height:33%;
  /*border: sienna 2px solid;*/
  margin: 1em;
  flex: 1;
}

img {
  max-width: 100%;
  max-height:40%
}

#nav{
  width:40em;
  justify-content: center;
  align-items: center;
  align-content:center;
  height: 5%;
  margin:auto;
}
.entry{
  justify-content: space-around;
}
button{
  margin:1em;
  width:10em;
}
